{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="cs-comments text-center col-12">

        {% if in_cart %}
            <div class="row justify-content-center">
            <div class="in-cart col-6">
                <h2>{% trans 'Ready to reserve' %}</h2>
                {% for table in in_cart %}
                    {% trans 'Table number:' %} {{ table.table.number }} {% trans 'By date:' %} {{ table.order_date }}<br>
                {% endfor %}
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ reserve_form.as_p }}
                    <button type="submit btn-success" class="save btn btn-success">{% trans 'Make a reservation' %}</button>
                </form>
            </div>
            </div>
        {% endif %}

        <h2>{% trans 'Cafe hall' %}</h2>

          <div class="row table-date">
            <div class="col-12">
              <form class="form-inline">
                <div class="form-group table-calendar">
                  <label for="reserve-date">{% trans 'Date' %}</label>
                  <input type="text" class="form-control" id="reserve-date" value="{{ reserve_date }}">
                </div>
              </form>
            </div>
          </div>

        <div class="cafe-hall">
            {% for table in tables %}
              {% if table.reserved and not table.own_reserved %}
                <div class="table" style="border-radius: {{ table.radius }}%; background: {{ table.color }}; width: {{ table.width }}%; height: {{ table.length }}%; top: {{ table.y }}%; left: {{ table.x }}%;">
                    {% trans 'reserved' %}<br>{{ table.status }}
                </div>
              {% else %}
                <button type="button" class="btn table table-action" href="#" data-table="{{ table.id }}" data-own_reserve="{{ table.own_reserve }}" style="border-radius: {{ table.radius }}%; background: {{ table.color }}; width: {{ table.width }}%; height:{{ table.length }}%; top: {{ table.y }}%; left: {{ table.x }}%;">
                    {{ table.seats }}<br>{{ table.status }}
                </button>
              {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}