body {
  display: flex;
}

.cafe-hall {
  display: flex;
  margin: auto;
  outline: 10px solid BlueViolet;
  position: relative;
  width: 1000px;
  height: 1000px;
}

.table {
    position: absolute;
}

.table-date {
    margin-bottom: 20px;
}

.table-calendar {
    margin-left: auto;
    margin-right: auto;
}

.in-cart {
    outline: 10px solid BlueViolet;
    margin: 20px;
    padding: 20px;
}